/* marquee{
    height: 200px;
    width: 1350px;
    break-inside: avoid;
    animation-name: hello;
    animation-duration: 10s
} */

img{
 height: 110px;
    width:150px;
    background-color: aqua;
    margin-top: 205px;
    /* mix-blend-mode: multiply; */
}
body{
    background-color: rgb(67, 230, 67);
    background-image: url("backg.jpg")
}
.animate{
    animation-name: hello;
    animation-duration: 20s;
    position: relative;
    animation-timing-function: linear;
}
button{
    background-color: rgb(68, 226, 68);
    margin-left: 50px;
    margin-top: 6px;
}
@keyframes hello{
0%{
    left: 0px;
    top:2px;
}
10%{
    left: 128px;
    top:2px;
}
20%{
    top: 74px;
    left: 128px;
}
30%{
    top: 74px;
    left: 635px;
}
40%{
    top: -85px;
    left: 635px;
}
50%{
    top: -85px;
    left: 900px;
}
60%{
    top: 1px;
    left: 900px;
}
70%{
    top: 1px;
    left: 1150px;
}
80%{
    top: 75px;
    left: 1150px;
}
90%{
    top: 75px;
    left: 1450px;
}
}